<footer>
    <div class="container-fluid link-light bg-dark mt-5 p-3">
        <div class="row m-auto">
            <div class="col-12 col-sm-6 col-md-3 col-xl-3">
                <h5 class="text-uppercase">Get to know us</h5>
                <p class="fw-lighter mb-0"><a class="link-light text-decoration-none" href="#">About Us</a></p>
                <p class="fw-lighter mb-0"><a class="link-light text-decoration-none" href="#">Careers</a></p>
                <p class="fw-lighter mb-0"><a class="link-light text-decoration-none" href="#">Press Releases</a></p>
                <p class="fw-lighter mb-0"><a class="link-light text-decoration-none" href="#">NP Shop Cares</a></p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-xl-3">
                <h5 class="text-uppercase">Make Money with Us</h5>
                <p class="fw-lighter mb-0"><a class="link-light text-decoration-none" href="#">Sell on NP Shop</a></p>
                <p class="fw-lighter mb-0"><a class="link-light text-decoration-none" href="#">NP Shop Global Selling</a></p>
                <p class="fw-lighter mb-0"><a class="link-light text-decoration-none" href="#">Become an Affiliate</a></p>
                <p class="fw-lighter mb-0"><a class="link-light text-decoration-none" href="#">Advertise Your Products</a></p>
                <p class="fw-lighter mb-0"><a class="link-light text-decoration-none" href="#">Sell on NP Shop</a></p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-xl-3">
                <h5 class="text-uppercase">Connect with Us</h5>
                <p class="fw-lighter mb-0"><a class="link-light text-decoration-none" href="#">Facebook</a></p>
                <p class="fw-lighter mb-0"><a class="link-light text-decoration-none" href="#">Twitter</a></p>
                <p class="fw-lighter mb-0"><a class="link-light text-decoration-none" href="#">Instagram</a></p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-xl-3">
                <h5 class="text-uppercase">Address</h5>
                <p class="fw-lighter mb-0"><i class="fas fa-home"></i> Sector 62 ,Noida , Uttar Pradesh</p>
                <p class="fw-lighter mb-0"><i class="fas fa-envelope-square"></i> info@npglobal.in</p>
                <p class="fw-lighter mb-0"><i class="fas fa-phone-alt"></i> 0120-478-499</p>
            </div>
        </div>
    </div>
</footer>